.meal__section {
    width: 100vw;
    padding: 2rem var(--horizontal-padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.filter__buttons, .view__more__button {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.view__more__button{

}