.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    text-align: center;
}

.loading-gif {
    width: 100px; /* Adjust the size of the GIF */
    margin-bottom: 20px;
}
