.ad {
    width: 100vw;
    padding: 2rem var(--horizontal-padding);
    text-align: center;
}

.ad img {
    width: 100%;
    height: 25rem;
}

@media (max-width: 50rem) {
    .ad img {
        width: 100%;
        height: 20rem;
    }
  }